{% extends 'base.html' %}
{% block title %} Question List
{% endblock %}
{% block extrahead %}
<style>
</style>
{% endblock %}

{% block precontent %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-2">Question List</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container">
<p>This is the list of questions!</p>
<div>
	{% for objective in objectives %}
	<p>
	<b>Course:</b> {{ objective.course }}</p>
	<b>Objective:</b> {{ objective.objective_text }}</p>
	<hr>
	{% endfor %}
</div>
</main>
{% endblock %}

