{% extends 'base.html' %}
{% block title %} Home
{% endblock %}
{% block extrahead %}
<style>
</style>
{% endblock %}

{% block precontent %}
<div class="jumbotron">
    <div class="container">
		<h1 class="display-2">Welcome to <b>astrotest</b>!</h1>
    </div>
</div>
<main class="container">
<p>This is a piece of software written to simplify the process of creating
   multiple versions of tests for large classes. astrotest also offers a way
   to keep track of your test bank and objectives covered.</p>

<p>astrotest is under development!</p>
</main>
{% endblock %}

{% block content %}
{% endblock %}
